header {
    background-color: rgb(196, 165, 225);
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 95%;
    justify-content: space-between;
    background-color: rgb(245, 218, 178);
}

#Logo {
    flex-grow: 1;
}

#link {
    flex-grow: 6;
}

#Login {
    flex-grow: 1;
}